.Event-View--Body 
{
    min-height: 70vh;
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
}



.Section-Title {
    margin-top: 30px;
}

.Form-Card 
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Participant-List {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    background-color: var(--background-color);
    flex: 1;
}

.Participant-Card {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

    .Participant-Card strong {
        font-size: 1rem;
    }

    .Participant-Card p {
        margin: 4px 0;
        font-size: 0.9rem;
    }

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    height: 1.5rem;
}

.Participant-List-Action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 1.5rem;
    width: 100%;
    padding-bottom: 36px;
}

.Participant-List-Menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
