@page "/"
@using RIKTrialWebInterface.Components.Comps
@inject EventAPIService EventApi
@inject NavigationManager Nav


<PageTitle>Home</PageTitle>
@* Content grid *@
<div class="Content-Grid">
    @*Top Banner*@
    <div class="Grid-Row">
        <div class="Row-Container Text-Header">
            <h1>Pikk pikk jutustav tekst</h1>
        </div>
        <div class="Row-Container">
            <img src="images/pilt.jpg"/>
        </div>
    </div>
    @*Upcoming events*@
    <div class="Grid-Box">
        <div class="Title-Box Text-Header Text-Header--Center">
            <h2>Tulevased Üritused</h2>
        </div>
        <div class="Content-Box Content-Card">
            @if (_upcomingEvents == null)
            {
                <p>Loading</p>
            }
            else if (_upcomingEvents.Count == 0)
            {
                <p>No events</p>
            }
            else
            {
                <div class="Event-List">
                    @foreach (EventReturnDTO ev in _upcomingEvents)
                    {
                        <EventCard Event="ev"
                                   OnAddParticipant="NavigateToAddParticipant"
                                   OnRemove="RemoveEvent"
                                   IsPast=false/>
                    }
                </div>
            }
        </div>
        <PagingBar Page="_upcomingPage"
                   PageSize="PageSize"
                   CurrentCount="_upcomingEvents?.Count ?? 0"
                   OnNext="NextUpcoming"
                   OnPrev="PrevUpcoming" />

    </div>
    @*Past events*@
    <div class="Grid-Box">
        <div class="Title-Box Text-Header Text-Header--Center">
            <h2>Toimunud Üritused</h2>
        </div>
        <div class="Content-Box Content-Card">
            @if (_pastEvents == null)
            {
                <p>Loading</p>
            }
            else if (_pastEvents.Count == 0)
            {
                <p>No events</p>
            }
            else
            {
                <div class="Event-List">
                    @foreach (EventReturnDTO ev in _pastEvents)
                    {
                        <EventCard Event="ev"
                                   OnAddParticipant="NavigateToAddParticipant"
                                   OnRemove="RemoveEvent"
                                   IsPast=true />
                    }
                </div>
            }
        </div>
        <PagingBar Page="_pastPage"
                   PageSize="PageSize"
                   CurrentCount="_pastEvents?.Count ?? 0"
                   OnNext="NextPast"
                   OnPrev="PrevPast" />

    </div>
</div>





@code
{
    private List<EventReturnDTO>? _upcomingEvents;
    private List<EventReturnDTO>? _pastEvents;

    private int _upcomingPage = 1;
    private int _pastPage = 1;

    private const int PageSize = 4;

    private void RemoveEvent(Guid eventId)
    {

    }

    private void NavigateToAddParticipant(Guid eventId)
    {
        Nav.NavigateTo($"/events/{eventId}/participants/add");
    }


    protected override async Task OnInitializedAsync()
    {

        await LoadUpcoming();
        await LoadPast();
        
    }

    private async Task LoadUpcoming()
    {
        EventFilters upcomingFilters = new EventFilters
        {
            Page = _upcomingPage,
            PageSize = PageSize,
            StartDate = DateTime.UtcNow,
            EndDate = null
        };




        _upcomingEvents = await EventApi.GetEvents(upcomingFilters);
    }

    private async Task LoadPast()
    {
        EventFilters pastFilters = new EventFilters
        {
            Page = _pastPage,
            PageSize = PageSize,
            StartDate = null,
            EndDate = DateTime.UtcNow
        };

        _pastEvents = await EventApi.GetEvents(pastFilters);
    }

    private async Task NextUpcoming()
    {
        _upcomingPage++;
        await LoadUpcoming();
    }

    private async Task PrevUpcoming()
    {
        if (_upcomingPage > 1)
            _upcomingPage--;

        await LoadUpcoming();
    }

    private async Task NextPast()
    {
        _pastPage++;
        await LoadPast();
    }

    private async Task PrevPast()
    {
        if (_pastPage > 1)
            _pastPage--;

        await LoadPast();
    }

}