<footer class="Footer">

    <div class="Footer-Column">
        <h4> Test</h4>
        <p>Test Test Test Test</p>
    </div>

    <div class="Footer-Column">
        <h4>Test</h4>
        <p>Test TestTest</p>
        <p>Test</p>
    </div>

    <div class="Footer-Column">
        <h4>CTestTest</h4>
        <p>Test@Test.ee</p>
    </div>

    <div class="Footer-Column">
        <h4>STest</h4>
        <p>Testbook</p>
        <p>Testgram</p>
    </div>

</footer>

@code {

}
