<div class="Header">
    <div class="Header-Left">
        <img src="images/logo.svg"/>
    </div>
    <div class="Header-Center">
        <div class="Header-Button">
            <h2>Avaleht</h2>
        </div>
        <div class="Header-Button">
            <h2>Ürituse Lisamine</h2>
        </div>
        <div class="Header-Button">
            <h2>Haldamine</h2>
        </div>
    </div>
    <div class="Header-Right">
        <img src="images/symbol.svg"/>
    </div>
</div>

@code {

}
